Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
cscope.out
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/pasystray
src/*.o
stamp-h1
tags
