Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
cscope.out
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/pasystray
src/*.o
src/config.h.in
src/config.h
stamp-h1
tags
pkg/arch/*/src
pkg/arch/*/pkg
pkg/arch/*/pasystray-*.tar.*
pkg/arch/*/*.pkg.tar.*
