Source: pasystray
Section: sound
Priority: extra
Maintainer: Christoph Gysin <christoph.gysin@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, pkg-config, libgtk-3-dev, libpulse-dev
Standards-Version: 3.9.2
Homepage: http://github.com/christophgysin/pasystray
Vcs-Git: git://github.com/christophgysin/pasystray.git
Vcs-Browser: http://github.com/christophgysin/pasystray

Package: pasystray
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk-3-0, pulseaudio
Description: PulseAudio system tray - a padevchooser replacement
 PaSystray provides a system tray icon to control the PulseAudio daemon. It
 supports changing the default source/sink, detecting remote source/sinks and
 moving streams to other souce/sinks on the fly.
