[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PulseAudio System Tray
GenericName=
Comment=An Applet for PulseAudio
Exec=pasystray
Icon=pasystray
StartupNotify=true
Type=Application
Categories=Application;AudioVideo;Audio;
