name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env:
          - { CC: gcc, CFLAGS: --std=c99 }
          - { CC: gcc, CFLAGS: --std=c99, EXTRA_CONF: --with-gtk=2 }
          - { CC: gcc, CFLAGS: --std=c99, EXTRA_CONF: --disable-avahi }
          - { CC: gcc, CFLAGS: --std=c99, EXTRA_CONF: --disable-notify }
          - { CC: gcc, CFLAGS: --std=c99, EXTRA_CONF: --disable-x11 }
          - { CC: gcc, CFLAGS: --std=c99, EXTRA_CONF: --disable-statusicon }
          - { CC: gcc, CFLAGS: --std=c99, EXTRA_CONF: --disable-appindicator}
          - { CC: gcc, CFLAGS: --std=c11 }
          - { CC: clang, CFLAGS: --std=c99 }
          - { CC: clang, CFLAGS: --std=c11 }
    env: ${{ matrix.env }}
    steps:
    - name: apt-get update
      run: sudo apt-get update
    - name: apt-get install
      run: >
        sudo apt-get install --no-install-recommends
        libgtk2.0-dev
        libgtk-3-dev
        libpulse-dev
        libnotify-dev
        libappindicator3-dev
    - name: CC version
      run: $CC --version
    - name: git checkout
      uses: actions/checkout@v2
    - name: autotools
      run: |
        aclocal
        autoconf
        autoheader
        automake --add-missing
    - name: configure
      run: ./configure ${EXTRA_CONF:-} || (cat config.log; exit 1)
    - name: make
      run: make
    - name: make test
      run: make test
